@import url('https://fonts.googleapis.com/css?family=Allura|Averia+Sans+Libre|Pacifico|Architects+Daughter');
/*note to force update*/
:root{
	--blue: #a2e9ed; /*#84e9ed;*/
	--green: #B2E6B5;
	--dark-green: #58B65E;
	--dark-blue: #4ccfd4;
	--shadow: #4ccfd4;/*58B65E*/
	--light-yellow: #fff5db;
	--yellow: #ffe28a;
	--dark-yellow:#F2CB60;
	--yellow2: #FFD3AE;/*#ffc689;*/
	--dark-yellow2:#AC6F3D;
	--pink: #e07aa8;
	--dark-pink: #DD5896;
	--pink2: #d67774;
	--dark-pink2: #87221F;
	--purple: #8c87eb;
	--dark-purple: #6B64EA;
	--cream: #EFFFF4/*fff9f7*/;
	--light-grey:#D8D3D2;
	--brown: #a36c58;
	--dark-brown: #472e25;
	/*--font: #301f19;*/
	--shadow-height: 7px;
	--vshadow-height: 10px;
	--font: #333147;
}
body{
	background-color:var(--blue);
	font-family: 'Verdana';
	height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
	color: var(--font);
}
h1{
	font-size:6vh;
	color:var(--yellow);
	text-align:center;
	text-shadow: -1px 0px var(--dark-yellow2),1px 0px var(--dark-yellow2),0px -1px var(--dark-yellow2),0px 1px var(--dark-yellow2),0px 3px var(--shadow);
	font-family: 'Architects Daughter', sans-serif;
	margin:1% 0 1% 0;
}
h2{
	font-size:5vh;
	color:var(--font);
	text-align:center;
	/*text-shadow: -1px 0px var(--purple),1px 0px var(--purple),0px -1px var(--purple),0px 1px var(--purple),2px 2px var--shadow;*/
	margin:1% 0 1% 0;
	border-bottom: 1px dashed var(--dark-pink);
}
button{
	font-family: 'Averia Sans Libre', sans-serif;
	border: none;
    padding: 1.5vh 2.5vh;
    text-align: center;
    text-decoration: none;
    font-size: 2vh;
	margin:0;
	margin-bottom:1vh;
	border-radius: 25px;
}
li:nth-child(3n+1) button{
	color:var(--font);
	background-color:var(--yellow);
	box-shadow: 0px var(--shadow-height) var(--dark-yellow), 0px var(--vshadow-height) 2px var(--shadow);
}
#button2{
	color:white;
	background-color:var(--pink2);
	box-shadow: 0px var(--shadow-height) var(--dark-pink2), 0px var(--vshadow-height) 2px var(--shadow);
}
li:nth-child(3n+2) button{
	color:white;
	background-color:var(--pink);
	box-shadow: 0px var(--shadow-height) var(--dark-pink), 0px var(--vshadow-height) 2px var(--shadow);
}
#button4{
	color:var(--font);
	background-color:var(--yellow2);
	box-shadow: 0px var(--shadow-height) var(--dark-yellow2), 0px var(--vshadow-height) 2px var(--shadow);
}
li:nth-child(3n+3) button{
	color:white;
	background-color:var(--purple);
	box-shadow: 0px var(--shadow-height) var(--dark-purple), 0px var(--vshadow-height) 2px var(--shadow);
}
li:nth-child(3n+1) button:active{
	position:relative;
	top: var(--shadow-height);
	box-shadow: 0px 1px 2px var(--shadow);
}
li:nth-child(3n+2) button:active{
	position:relative;
	top: var(--shadow-height);
	box-shadow: 0px 1px 2px var(--shadow);
}
li:nth-child(3n+3) button:active{
	position:relative;
	top: var(--shadow-height);
	box-shadow: 0px 1px 2px var(--shadow);
}
li:nth-child(3n+1) button:disabled{
	position:relative;
	top: var(--shadow-height);
	box-shadow: 0px 1px 2px var(--shadow);
}
li:nth-child(3n+2) button:disabled{
	position:relative;
	top: var(--shadow-height);
	box-shadow: 0px 1px 2px var(--shadow);
}
li:nth-child(3n+3) button:disabled{
	position:relative;
	top: var(--shadow-height);
	box-shadow: 0px 1px 2px var(--shadow);
}
header{
	text-align:center;
	padding:0;
	padding-bottom:1%;
	background-color:var(--dark-blue);
	width:100%;
	margin-bottom:1%;
	display:inline-block;
	box-shadow: 0px 1px 2px var(--shadow);
}
footer{
	padding:10px;
	margin-left:-10px;
	text-align:center;
	vertical-align:center;
	height:3.5em;
	width:100%;
	margin-bottom:0px;
}
a{
	border-bottom: 2px solid;
	text-decoration:none;
    font-size: 1em;
	padding:0.1em;
	color:var(--font);
	border-color:var(--pink);
}
a:hover{
	background-color:var(--pink);
}
select{
	padding:0.1em;
	border-radius:3px 3px 0px 0px;
	font-family: 'Averia Sans Libre', cursive;
	text-align:justify;
	box-shadow: 0px 2px 4px var(--dark-blue);
}
table{
	border-collapse: collapse;
	width:100%;
}
table, th, td {
    border: 1px solid #ddd;
	padding: 10px;
	text-align:center;
	font-size: 1em;
	background-color:white;
	margin-bottom:5%;
}
.container{
	margin-left:20%;
	margin-right:20%;
	text-align:center;
	/*background-color: white;
	-moz-box-shadow: 1px 2px 4px rgba(0, 0, 0,0.5);
    -webkit-box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
    box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);*/
}

/*.fc_container{
	margin-left:20%;
	margin-right:20%;
}*/
.nav {
    list-style-type: none;
	margin:0;
	padding:0;
}

.nav li {
    display: inline-block;
	vertical-align:center;
	padding-top:0px;
	padding-bottom:0px;
	margin-left:0.5vw;
	margin-right:0.5vw;
	margin-top:1vh;
	margin-bottom:0;
	font-size:2vh;
	line-height:2vh;
}
.resource {
    list-style-type: none;
	text-align: left; 
	padding-top:0px;
	padding-bottom:0px;
	margin-left:0.5vw;
	margin-right:0.5vw;
	margin-top:1vh;
	margin-bottom:0;
	font-size:2vh;
	line-height:2vh;
}

.resource li {
	padding-top:0px;
	padding-bottom:0px;
	margin-left:0.5vw;
	margin-right:0.5vw;
	margin-top:1vh;
	margin-bottom:0;
	font-size:2vh;
	line-height:3vh;
}
.fc_header{

}
.fc_footer{
	text-align:center;
	display:inline-block;
	width:100%;
	padding:0;
	
}
.floatContainer{
	display:block;
	text-align:center;
	vertical-align:center;
	width:100%;
	border-radius: 10px;
	color:var(--font);
	background-color:var(--cream);
	border: 1px solid var(--light-yellow);
	box-shadow: 0px 2px 4px var(--dark-blue);
	font-family: 'Open Sans', sans-serif;
	padding-top:2vh;
	padding-bottom:2vh;
	padding-left:2vh;
	padding-right:2vh;
	margin-bottom:1vh;
}
.cardContainer{
	display:block;
	text-align:center;
	vertical-align:center;
	width:100%;
	border-radius: 10px;
	color:var(--font);
	background-color:var(--cream);
	border: 1px solid var(--light-yellow);
	box-shadow: 0px 2px 4px var(--dark-blue);
	font-family: 'Open Sans', sans-serif;
	padding-top:2vh;
	padding-bottom:2vh;
	margin-bottom:0.5vh;
}
.quiz{
	font-size: 4vw;
}

.flashcards{
	/*display:block;*/
	font-size: 7vw;
	height:50vh;/*400px;*/
	line-height: 50vh;
}
#answrButtons{
	display:none;
}
#incorrect{
	display:none;
	color:var(--pink2);
}
label[for=autoplay]{
	font-family: 'Verdana';
}
label[for=furigana_en]{
	font-family: 'Verdana';
}
#autoplay{
	border:2px dotted solid black;
}
#fc_cnt{ 
	font-family: 'Averia Sans Libre', cursive;
	font-size:2vh;
	padding-left:2px;
}
#fc_text{
	margin:0;
	padding:0;
	display: inline-block;
	vertical-align: middle;
	line-height: normal;
	
}

@media only screen and (max-width: 1000px) {
	.container{
		margin-left:0%;
		margin-right:0%;
		text-align:center;
	}
	h1{
		font-size:6vw;
		text-shadow: 2px 2px var(--shadow);
		font-family: 'Pacifico', cursive;
		margin:1% 0 1% 0;
	}
	.quiz{
		font-size:6vw;
		border-radius:0;
	}
	.flashcards{
		border-radius:0;
	}
}
@media only screen and (max-width: 500px) {
	.cardContainer{
		padding-top:1vw;
		padding-bottom:1vw;
	}
	.flashcards{
		/*display:block;*/
		font-size: 4vh;
		height:30vh;/*400px;*/
		line-height: 30vh;
	}
	.quiz{
		font-size: 4vh;
		height:30vh;/*400px;*/
		line-height: 30vh;
	}
}
