:root{
	--main-bg-color:#8fddff;
	--second-color:#ffec8f;
	--third-color:#ff8fb6;
	--main-bg-dark:#6be1ff;
	--second-dark:#ffe16b;
	--third-dark:#e65386;
}
table{
	border-collapse: collapse;
	margin-left:20%;
	margin-right:20%;
}
table, th, td {
    border: 1px solid #ddd;
	padding: 10px;
	text-align:center;
	font-size: 1em;
	background-color:white;
}
a{
	background-color: var(--third-dark);
	color: white;
	padding: 14px 25px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	margin: 5px;
}
a:hover{	
	box-shadow: 2px 2px 2px grey;
}
a:active{
	background-color:var(--third-dark);
}
body{
	background-color: var(--main-bg-color);
}

audio{
	
}
select{
	margin: 10px;
	padding: 10px;
	text-size: 2em;
	text-align: center;
}
button{
    background-color: var(--second-color); /* Green */
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    box-shadow: 2px 2px 2px grey;
}
button:hover{
	background-color: var(--second-dark);
	
}
h1{
	text-align:center;
}
.audio_cont{
	background-color: var(--third-dark);
	color: white;
	padding: 0.5em 0.75em;
	font-size: 1em;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	margin: 5px;
	box-shadow: 2px 2px 2px grey;
	border-radius: 2em;
}
div.audio_cont:hover{
	background-color: var(--second-color);
}
.rotate{
    -webkit-animation:spin 4s linear infinite;
    -moz-animation:spin 4s linear infinite;
    animation:spin 4s linear infinite;
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

.fc_container{
	margin-left:20%;
	margin-right:20%;
}
.nav {
    list-style-type: none;
    text-align: center; 
    padding: 0;
    margin: 0;
}

.nav li {
    display: inline-block;
	vertical-align:center;
}
.fc_header{
	font-size: 2em;
	text-align:center;
	margin-bottom:2%;
	display:inline-block;
	height: 2em;
	width:100%;
}
.fc_footer{
	margin-top:2%;
	font-size: 2em;
	text-align:center;
	display:inline-block;
	height: 2em;
	width:100%;
}

.container{
	margin-left:20%;
	margin-right:20%;
	font-size: 2em;
	text-align:center;
	background-color: white;
	-moz-box-shadow: 1px 2px 4px rgba(0, 0, 0,0.5);
    -webkit-box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
    box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
}

#flashcards{
	display:block;
	border: 1px solid #ddd;
	background-color: #fff;
	padding-top:10%;
	padding-bottom:10%;
	font-size: 7em;
	text-align:center;
	vertical-align:center;
	height:400px;
	width:100%;
	-moz-box-shadow: 1px 2px 4px rgba(0, 0, 0,0.5);
    -webkit-box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
    box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
}