:root{
	--main-bg-color:#8fddff;
	--second-color:#ffec8f;
	--third-color:#ff8fb6;
	--main-bg-dark:#6be1ff;
	--second-dark:#ffe16b;
	--third-dark:#e65386;
}
table{
	border-collapse: collapse;
	margin-left:20%;
	margin-right:20%;
}
table, th, td {
    border: 1px solid #ddd;
	padding: 10px;
	text-align:center;
	font-size: 1em;
	background-color:white;
}
a{
	background-color: var(--third-dark);
	color: white;
	padding: 14px 25px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	margin: 5px;
}
a:hover{	
	box-shadow: 2px 2px 2px grey;
}
a:active{
	background-color:var(--third-dark);
}
body{
	background-color: var(--main-bg-color);
}

audio{
	margin:20px;	
}
select{
	margin: 10px;
	padding: 10px;
	text-size: 2em;
	text-align: center;
}
button{
    background-color: var(--second-color); /* Green */
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    box-shadow: 2px 2px 2px grey;
}
button:hover{
	background-color: var(--second-dark);
	
}
h1{
	text-align:center;
}
.furigana{
	font-size: 0.5em;
}
.fc_container{
	margin-left:20%;
	margin-right:20%;
}
.fc_header{
	padding-left:10%;
	padding-right:10%;
	font-size: 2em;
	text-align:center;
	background-color: var(--main-bg-dark);
	 -moz-box-shadow: 1px 2px 4px rgba(0, 0, 0,0.5);
    -webkit-box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
    box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
}
.container{
	margin-left:20%;
	margin-right:20%;
	font-size: 2em;
	text-align:center;
	background-color: white;
	 -moz-box-shadow: 1px 2px 4px rgba(0, 0, 0,0.5);
    -webkit-box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
    box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
}
#flashcards{
	margin-top:10px;
	border: 1px solid #ddd;
	background-color: #fff;
	padding: 30px;
	font-size: 5em;
	text-align:center;
	display: inline-block;
  	vertical-align: middle;
	height:400px;
	 -moz-box-shadow: 1px 2px 4px rgba(0, 0, 0,0.5);
    -webkit-box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
    box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
}
